---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    
<div class="pagesLeft">
    <nav>  
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">Categories</h5>
            <ul class="navList">
                {{#each categories}}
                <li class="navList-item">
                    {{#if children}}
               {{!--     
                    <a href="{{url}}" class="navList-action has-toggle">{{name}}</a>
                    <a href="javascript:void(0)" class="nav-toggle normal" onclick="toggleClass('.navPages-{{id}}', 'show'); toggle(this);"><span class="plus">+</span></a>
                    --}}     
                    <ul class="navPage-childList navPages-{{id}}">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            {{#if children}}
                            <a class="navPage-childList-action navPages-action has-toggle" href="{{url}}">{{name}}</a>
                            <a href="javascript:void(0)" class="nav-toggle normal" onclick="toggleClass('.navPages-{{id}}', 'show'); toggle(this);"><span class="plus">+</span></a>
                            <ul class="navPage-grandchildList collapse navPages-{{id}}">
                                {{#each children}}
                                    <li class="navPage-grandchildListList-item">
                                        {{#if children}}
                                        <a class="navPage-grandchildListList-action navPages-action has-toggle" href="{{url}}">{{name}}</a>
                                        <a href="javascript:void(0)" class="nav-toggle normal" onclick="toggleClass('.navPages-{{id}}', 'show'); toggle(this);"><span class="plus">+</span></a>
                                        <ul class="navPage-greatgrandchildList collapse navPages-{{id}}">
                                            {{#each children}}
                                            <li class="navPage-greatgrandchildListList-item">
                                                <a class="navPage-greatgrandchildListList-action navPages-action" href="{{url}}">{{name}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{else}}
                                        <a class="navPage-grandchildListList-action navPages-action" href="{{url}}">{{name}}</a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                            {{else}}
                            <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    
                    {{else}}
                    <a href="{{url}}" class="navList-action">{{name}}</a>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </nav>


    <div class=" left-banner">
            <h2>Free Project Advice</h2>
            <h3>Talk to <span>Lighting</span> Experts </h3>
            <ul style="list-style: none;">
                <li>Project Design Services</li>
                <li>Product Selection</li>
                <li>Samples and Quotes!</li>
            </ul>
            
            <div class="c-button-holder"><a href="/ask-us-a-question/" class="c-button-primary"> Start Now </a> </div>
            <div class="sideimg-holder"> </div>
            
    </div>
</div>

   
<div class="pagesRight">
    <!--div itemscope itemtype="http://schema.org/Product"--><div>
        {{> components/products/product-view schema=false  }}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}
{{!--
        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}

--}}    

        <h3>{{lang 'products.related_products'}}</h3>
        {{> components/products/carousel products=product.related_products columns=4}}
        
    </div>
</div>    
{{/partial}}
{{> layout/base}}

<script type="text/javascript"> 
var _learnq = _learnq || []; 

 var item = {
   Name: "{{product.title}}", 
   ProductID: "{{product.id}}",
   ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}", 
   URL: "{{product.url}}",
   Brand: "{{product.brand.name}}", 
   Price: "{{product.price.without_tax.value}}",
   CompareAtPrice: "{{product.price.rrp_without_tax.value}}"
  };

_learnq.push(['track', 'Viewed Product', item]); 

_learnq.push(['trackViewedItem', {
   Title: item.Name, 
   ItemId: item.ProductID,
   ImageUrl: item.ImageURL, 
   Url: item.URL,

   Metadata: { 
     Brand: item.Brand,
     Price: item.Price, 
     CompareAtPrice: item.CompareAtPrice
 } 
 }]);
</script>

<script text="text/javascript">
	var _learnq = _learnq || [];
	document.getElementById("form-action-addToCart").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});
</script>
